<template>
  <div>
    <div>
    <div class="container-fluid">
      <span class="text"
        ><img src="../assets/logo.png" class="img-rounded" style="width: 5%" />
        คณะวิทยาการสารสนเทศ</span
      >
      <button @click="$store.commit('logout')"
      type="button" class="btn btn-light btn-sm" style="float: right">
        ออกจากระบบ
      </button>
   
    </div>
  </div>
  <div><br /><br /></div>
    <div>
      <b-button-group style="float: left;">
        <b-button variant="primary">เอกสารที่ต้องเซ็น</b-button>
        <b-button variant="outline-primary">ประวัติเซ็นเอกสาร</b-button>
      </b-button-group>
    </div>
    <div><br /><br /></div>
    <div style="text-align:left; width:100%; padding:0;">
      <b-button variant="primary">เอกสาร</b-button>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>รหัสนิสิต</th>
            <th>ชื่อ-สกุล</th>
            <th>เอกสาร</th>
            <th>หมายเหตุ</th>
            <th>อัพโหลด</th>
            <th>ยกเลิก</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>61160036</td>
            <td>นาย พลพล คุ้มไข่น้ำ</td>
            <td>เอกสาร</td>
            <th>หมายเหตุ</th>
            <td><b-button variant="primary">อัพโหลด</b-button></td>
            <td><b-button variant="danger">ยกเลิก</b-button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<style>
.pro {
  color: blue;
}
container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4863a0;
  text-align: left;
}
.text {
  color: aliceblue;
  font: 2em sans-serif;
}
.butontop {
  float: right;
}
.pro {
  color: rgb(251, 255, 0);
}
</style>
