<template>
  <div>
    <b-modal id="bv-modal-popupLoad" title="ข้อมูล" hide-footer>
      <div class="container mt-3">
        <form action="/action_page.php">
          <div class="mb-3 mt-3">
            <label for="idNumber">รหัสนิสิต:</label>
            <input
              class="form-control"
              id="idNumber"
              placeholder="ใส่รหัสนิสิต"
              name="idNumber"
            />
          </div>
          <div class="mb-3">
            <label for="name">ชื่อ-สกุล:</label>
            <input
              class="form-control"
              id="name"
              placeholder="ใส่ชื่อนิสิต"
              name="name"
            />
          </div>
          <div class="mb-3">
            <label for="name">เลือกเอกสาร RE:</label>
            <div class="dropdown">
              <b-dropdown
                text="เอกสาร RE"
                variant="outline-primary"
                class="m-2"
              >
                <b-dropdown-item href="#">RE01</b-dropdown-item>
                <b-dropdown-item href="#">RE02</b-dropdown-item>
                <b-dropdown-item href="#">RE03</b-dropdown-item>
                <b-dropdown-item href="#">RE04</b-dropdown-item>
                <b-dropdown-item href="#">RE05</b-dropdown-item>
                <b-dropdown-item href="#">RE06</b-dropdown-item>
                <b-dropdown-item href="#">RE07</b-dropdown-item>
                <b-dropdown-item href="#">RE08</b-dropdown-item>
                <b-dropdown-item href="#">RE09</b-dropdown-item>
                <b-dropdown-item href="#">RE10</b-dropdown-item>
                <b-dropdown-item href="#">RE11</b-dropdown-item>
                <b-dropdown-item href="#">RE12</b-dropdown-item>
                <b-dropdown-item href="#">RE13</b-dropdown-item>
                <b-dropdown-item href="#">RE14</b-dropdown-item>
                <b-dropdown-item href="#">RE15</b-dropdown-item>
                <b-dropdown-item href="#">RE16</b-dropdown-item>
                <b-dropdown-item href="#">RE17</b-dropdown-item>
                <b-dropdown-item href="#">RE18</b-dropdown-item>
                <b-dropdown-item href="#">RE19</b-dropdown-item>
                <b-dropdown-item href="#">RE20</b-dropdown-item>
                <b-dropdown-item href="#">RE21</b-dropdown-item>
                <b-dropdown-item href="#">RE22</b-dropdown-item>
              </b-dropdown>
            </div>
          </div>

          <v-button class="btn btn-outline-primary">อัปโหลดไฟล์</v-button>

          <p style="color:red;">*อัปโหลดเอกสาร RE (PDF เท่านั้น)</p>
        </form>
      </div>

      <b-button
        variant="danger"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupLoad')"
        >ยกเลิก</b-button
      >

      <b-button
        variant="primary"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupLoad')"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {}
</script>
<style></style>
