<template>
  <div>
    <b-button id="show-btn" @click="$bvModal.show('bv-modal-example')"
      >สำเร็จ</b-button
    >

    <b-modal id="bv-modal-example" hide-footer>
      <!-- <template #modal-title></template> -->
      <div class="d-block text-center">
          <img src="../assets/checked.png" alt="checkSuccess" width="200px"><br>
        <h3>สำเร็จ</h3>
      </div>
      <b-button
        variant="primary"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-example')"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {}
</script>
<style></style>
