<template>
  <div>
    <b-button id="show-btn" @click="$bvModal.show('bv-modal-popupSend')"
      >หมายเหตุอาจารย์</b-button
    >
    <b-modal id="bv-modal-popupSend" title="ข้อมูล" hide-footer>
      <div class="container mt-3">
        <form action="/action_page.php">
          <div class="mb-3 mt-3"></div>
          <div class="mb-3">
          <label for="name" id="name_label">หมายเหตุ:</label>
            <b-form-textarea
              id="textarea-rows"
              placeholder="ช่วยเซ็นเอกสารในช่องอาจารย์ที่ปรึกษาให้ผมทีครับ ขอบคุณครับ"
              rows="8"
            ></b-form-textarea>
          </div>
        </form>
      </div>
      <b-button
        variant="primary"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupSend')"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {}
</script>
<style>
#name_label {
    display: inline-block;
    width: 100%;
    text-align: left;
}
</style>
